[submodule "bookstore"]
	path = bookstore
	url = https://github.com/zapuni/bookstore.git
[submodule "storebook-management"]
	path = storebook-management
	url = https://github.com/zapuni/storebook-management.git
[submodule "usermanagement"]
	path = usermanagement
	url = https://github.com/zapuni/usermanagement.git
	url = https://github.com/zapuni/usermanagement.git
